<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img src="/images/pic.jpg" alt="It's me" class="rounded-corners" height="200">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About Me</a>
      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/research">Research</a>
      <a class="sidebar-nav-item" href="/teaching">Teaching</a>
      <a class="sidebar-nav-item" href="/resources">Resources</a>
      <a class="sidebar-nav-item" href="/contactme">Contact Me</a>
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
    <div class="social">
      <!-- LINKS -->
        {% include social.html %}
    </div>

       <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>

</div>
